/*navbar*/
.nav-bar{
    
    list-style-type: none;
    margin: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    color:grey;
    border: dotted red;
    border-bottom: solid blue;
    border-width: 1px;
   
}
.nav-bar li{
    padding-left: 3%;
}

.banner{
    width:100%;
    margin: 0;
    padding-bottom: 3%;
}

.left{
    color: red;
    float: left;
    display: flex;
    border: dotted green;
    
}
.right{
    display: flex;
    float: right;
    color: blue;
    border: dotted green;
}

/*This is the  region footer*/
.footer-box{
    display: flex;
    border: dotted red;
  }
  
/*Promo banner slide*/
.promo-slide{
    display: flex;
    color: green;
    justify-content: center;
    padding: 3%;
}  

.promo-image{
    display: flex;
    border: dotted yellow;
}

/* default page description under promo*/
.page-description{
    border: dotted blue;
}

/* Slide for Features, Iconics, Trending and  items in store*/
.image-slide{
    border: solid orange;
}