
/*Background images*/
.home{
    min-height: 100vh;
    background-image: url("../public/images/background/nike_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*navbar*/
.nav-bar{
    
    list-style-type: none;
    margin: 0;
    position: fixed;
    width: 100%;
    height:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-width: 1px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    
   
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    
}
li a:hover{
    background-color: #f0f0f0;
}

/*dropdown menu homepage*/
.drop-down{
    width: 100px;
    height: 0px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.drop-down li a{
    align-items: flex-start;
    justify-content: flex-start;
    
    
}

.banner{
    width:100%;
    margin: 0;
    padding-bottom: 3%;
}

.left{
    color: red;
    float: left;
    display: flex;
    border: dotted green;
    
}
.right{
    display: flex;
    float: right;
    color: blue;
    border: dotted green;
}

/*This is the  region footer*/
.footer-box{
    display: flex;
    border: dotted red;
  }
  
/*Promo banner slide*/
.promo-slide{
    display: flex;
    color: green;
    justify-content: center;
    padding: 3%;
}  

.promo-image{
    display: flex;
    border: dotted yellow;
}

/* default page description under promo*/
.page-description{
    border: dotted blue;
}

/* Slide for Features, Iconics, Trending and  items in store*/
.image-slide{
    border: solid orange;
}